@model Kenmark_Consumer.Models.Home



<div class="item active">
    @for (int i = 0; i < Model.NewFrames.Count; i++ )
    {
        if (i % 4 == 0 && i != 0)  { 
            @:</div>
            @:<div class="item">
                 
        }
        <div class="col-xs-12 col-sm-6 text-center"> 
             <img src="http://kenmark.kenmarkoptical.com/showimage.aspx?img=@(Model.NewFrames[i].Image)&w=350"/><br />
             <span style="font-size:16px;">@Model.NewFrames[i].Style - @Model.NewFrames[i].Collection</span><br />
        </div>
    
    }
</div>
