@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
</style>

<div class="row">
    <img class="img-responsive" src="~/Content/images/Brand/Penguin/sun.jpg" /> 
    <div class="row" style="padding-left:50px;margin-top:10px;">
        <div class="col-md-3" style="font-size:14px;">PROFILE / SHOW SCHEDULE</div>
    </div>
</div>



<div class="row hidden-xs">
    
    <div class="col-sm-3" style="margin-top:30px;padding-left:50px;font-weight:bold;font-size:16px;">
        
        SHOW & EVENT SCHEDULE

    </div>
    
    <div class="col-sm-8" style="margin-top:30px;font-size:14px;">To see the latest Kenmark products, visit us at one of
        the large industry trade shows this year, including MIDO, SECO and Vision Expo.
        To request an appointment contact <u>shows@kenmarkoptical.com </u>

        <hr />
    
        <div class="row">
            <div class="col-sm-2">FEB 2015</div>
            <div class="col-sm-6"><strong>MIDO</strong><br />
                Feb. 28 - Mar. 2, 2015<br />
                Milan, Italy
            </div>
        </div>

         <hr />
    
        <div class="row">
            <div class="col-sm-2">MAR 2015</div>
            <div class="col-sm-3"><strong>SECO</strong><br />
                March 4 - Mar. 8, 2015<br />
                Atlanta, GA
            </div>
            <div class="col-sm-3"><strong>Vision Expo East</strong><br />
                March 20 - 22, 2015<br />
                Atlanta, GA
            </div>
        </div>

         <hr />
    
        <div class="row">
            <div class="col-sm-2">Sep 2015</div>
            <div class="col-sm-5"><strong>Vision Expo West</strong><br />
                Sept. 17 - 19, 2015<br />
                Las Vegas, NV
            </div>
        </div>
    </div>
</div> <!-- End main Row DIV -->



<!-- mobile view -->

<div class="row visible-xs">
    
    <div class="col-xs-12" style="margin-top:30px;padding-left:50px;font-weight:bold;font-size:16px;">
        
        SHOW & EVENT SCHEDULE

    </div>
    
    <div class="col-xs-12" style="margin-top:30px;font-size:14px;">
        
        To see the latest Kenmark products, visit us at one of
        the large industry trade shows this year, including MIDO, SECO and Vision Expo.
        To request an appointment contact <u>shows@kenmarkoptical.com </u>

        <hr />
    
        <div class="row">
            <div class="col-xs-4">FEB 2015</div>
            <div class="col-xs-8"><strong>MIDO</strong><br />
                Feb. 28 - Mar. 2, 2015<br />
                Milan, Italy
            </div>
        </div>

         <hr />
    
        <div class="row">
            <div class="col-xs-4">MAR 2015</div>
            <div class="col-xs-8" style="margin-bottom:15px;"><strong>SECO</strong><br />
                March 4 - Mar. 8, 2015<br />
                Atlanta, GA
            </div>

            <div class="col-xs-8 col-xs-offset-4"><strong>Vision Expo East</strong><br />
                March 20 - 22, 2015<br />
                Atlanta, GA
            
            </div>
            
        </div>

         <hr />
    
        <div class="row">
            <div class="col-xs-4">Sep 2015</div>
            <div class="col-xs-8"><strong>Vision Expo West</strong><br />
                Sept. 17 - 19, 2015<br />
                Las Vegas, NV
            </div>
        </div>
    </div>
</div> <!-- End main Row DIV -->


