@model Kenmark_Consumer.Models.ShowSchedule

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <img class="img-responsive" src="~/Content/images/Brand/Penguin/sun.jpg" /> 
    <div class="row" style="padding-left:50px;margin-top:10px;">
        <div class="col-md-3" style="font-size:14px;">PROFILE / SHOW SCHEDULE</div>
    </div>
</div>



<div class="row">
    
    <div class="col-xs-12 text-center col-sm-3" style="margin-top:30px;padding-left:50px;font-weight:bold;font-size:16px;">
        
        SHOW & EVENT SCHEDULE

    </div>
    
    <div class="col-xs-12 col-sm-8" style="margin-top:30px;font-size:14px;">To see the latest Kenmark products, visit us at one of
        the large industry trade shows this year, including MIDO, SECO and Vision Expo.
        To request an appointment contact <u>shows@kenmarkoptical.com </u>

        <hr />
    
        <div class="row">
           
            
                
                @foreach (var s in Model.Shows) {
         

            <div class="col-xs-4 col-sm-2">@s.Group</div>
                    
                 <div class="col-xs-8 col-sm-5">
                     <strong>@s.EventName</strong>
                             @s.Booth<br />
                             

                     <hr />


            </div>
                }
        </div>
               

      
    </div>
</div> <!-- End main Row DIV -->



