@model Kenmark_Consumer.Models.ShowSchedule

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <img class="img-responsive" src="~/Content/images/ShowSchedule/header.jpg" /> 
    <div class="row" style="padding-left:50px;margin-top:10px;">
        <div class="col-md-3" style="font-size:12px;">PROFILE / SHOW SCHEDULE</div>
    </div>
</div>

<div class="row">
    
    <div class="col-xs-12 col-sm-3 text-center-xs  " style="letter-spacing:1px;margin-top:30px;padding-left:50px;font-weight:bold;font-size:18px;">
        
        SHOW & EVENT SCHEDULE
    </div>

    <div class="col-xs-12 col-sm-9" style="margin-top:30px;font-size:14px;">To see the latest Kenmark products, visit us at one of
        the large industry trade shows this year, including MIDO, SECO and Vision Expo.
        To request an appointment contact <u>shows@kenmarkoptical.com </u>

        @foreach (var s in Model.Shows.GroupBy(s => s.Group).OrderBy(s => s.Key)) {
          
       <hr style="border-color:#bbb;"/>
       <div class="row"> 
            
       <div class="col-xs-4 col-sm-2" style="text-transform:uppercase;">@s.Key </div>
           
            <div class="col-xs-8 col-sm-10">
                
                @foreach(var x in Model.Shows){
                    
                   if(x.Group.Equals(s.Key)){
                       
                       <div class="col-xs-12 col-sm-6" style="margin-bottom:10px;">
                            <strong>@x.EventName</strong><br />
                                    @x.Date<br />
                                    @x.Location
                         </div>
                        
                    } <!-- end if statement for grouping --> 
                }
                
            </div>   
       </div>
          
    }
 </div> 
</div><!-- End main Row DIV -->