@model Kenmark_Consumer.Models.WhereToBuy

@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Where to Buy";
}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
    var map;
    var bounds;
    var markers = [];
    var infoWindow = null;

    $(function () {

        $.get("/WhereToBuy/GetZipGeo").done(function (data) {           
            if (!data.zip) {           
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {                      
                        $.get("/WhereToBuy/GetZipGEO", { latitude: position.coords.latitude, longitude: position.coords.longitude }).done(function (data2) {
                            $('#Zip').val(data2.zip);
                            $('#customerWrapper').hide().html(data2.html).fadeIn(250);
                            initialize();
                            buildMap(data2.GooglePoints);
                            $('#pageLoad').hide();
                        });
                    });
                }
            }
            else {
                $('#pageLoad').hide();          
                $('#Zip').val(data.zip);
                $('#customerWrapper').hide().html(data.html).fadeIn(250);
                initialize();
                buildMap(data.GooglePoints);           

            }
        });

        $("#rangeFilter").click(function (e) {
            initialize();
            clearMap();

            $('#pageLoad').show();

            $.get("/WhereToBuy/GetCustomers", $("#buyFilter").serialize()).done(function (data) {
                $('#pageLoad').hide();
                $('#customerWrapper').hide().html(data.html).fadeIn(250);

                buildMap(data.GooglePoints);

            });
        });

        $(document).keypress(function (e) {
            if (e.which == 13) {
                $('#rangeFilter').click();
                return false;
            }
        }); // catches Enter press, clicks the filter button

        $(".fancybox").click(function () {

            $.fancybox([
            {
                href: '#emailBox',
                autoSize: true,

            }
            ]);
        });

        $("#emailSend").click(function (e) {
            var email = $("input#email").val();
            var zip = $("input#Zip").val();
            var radius = $("#Radius option:selected").val();
            $.post("/WhereToBuy/Email", { email: email, zip: zip, radius: radius });
        });

        $("#printBtn").click(function () {
            window.print();
        });


    });

    function initialize() {
        var stylesArray = [
            {
                "featureType": "landscape",
                "stylers": [
                    { "gamma": 1.11 },
                    { "saturation": -98 },
                    { "lightness": 70 }
                ]
            }, {
                "featureType": "water",
                "stylers": [
                    { "hue": "#0019ff" },
                    { "lightness": -7 },
                    { "saturation": -74 }
                ]
            }
        ]

        var bounds = new google.maps.LatLngBounds();
        var USLatLng = new google.maps.LatLng(39, -95.);
        var mapOptions = {
            zoom: 4,
            center: USLatLng,
            styles: stylesArray,


        };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    }

    function addMarker(location, content) { // adds marker, updates each marker's infoWindow... only allows
        var marker = new google.maps.Marker({// one window open at all times
            position: location,
            map: map,
            animation: google.maps.Animation.DROP,

        });// end marker

        infoWindow = new google.maps.InfoWindow({
            content: content
        });

        bounds.extend(marker.position);
        markers.push(marker);

        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.setContent(content);
            infoWindow.open(map, marker);
        });



    }

    function setAllMap(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    function clearMap() {
        setAllMap(null);
        markers = [];
    }


    function buildMap(points) { // for each customer - create a bound, add marker(extend bound), add to map, fit to bounds

        var customers = JSON.parse(points);

        bounds = new google.maps.LatLngBounds();

        $(customers).each(function (index, element) {

            var latLng = new google.maps.LatLng(element.latitude, element.longitude);

            var url = 'https://www.google.com/maps/dir//';
            var route = element.address + " " + element.city + " " + element.state + " " + element.zip;



            var content = '<strong style="text-transform:capitalize">' + element.customer_name.toLowerCase()
                + '</strong>' + '<br />' + '<span style="text-transform:capitalize">' + element.address.toLowerCase()
                + '</span>' + ', ' + '<span style="text-transform:capitalize">' + element.city.toLowerCase()
                + '</span>' + ', ' + element.state + ', ' + element.zip + '<br />' + element.phone
                + '<br />' + element.distance + " " + (element.distance == 1 ? "Mile" : "Miles") + " Away"
                + '<br />' + '<a id="dir" target="_blank" href="changeString" style="text-decoration:none;">'
                + "Get Directions" + '</a>'


            content = content.replace('changeString', url + route);

            addMarker(latLng, content);
            setAllMap(map);



        });// end foreach loop

        map.fitBounds(bounds);

    }

    // google.maps.event.addDomListener(window, 'load', initialize);

    google.maps.event.addDomListener(window, 'resize', function () {
        var center = map.getCenter();
        google.maps.event.trigger(map, 'resize');
        map.setCenter(center);
    });

</script>




<div class="row topRow" style="margin-top: 50px;">
    <div class="col-xs-12 col-sm-3" style="padding-left: 50px;">
        <span class="center-block" style="font-size: 20px; font-weight: bold;">WHERE TO BUY</span><br />
        <span style="font-size: 14px;">Find retail locations where Kenmark Brands are sold.</span>


        @using (Html.BeginForm("GetCustomers", "WhereToBuy", FormMethod.Post, new { @id = "buyFilter" }))
        {
            <div class="col-xs-12 no-gutter" style="margin-top: 30px;margin-bottom:30px;">
                @(Html.LabelFor(m => m.Zip, new { @style = "font-size:16px" }))<br />
                @(Html.TextBoxFor(m => m.Zip, new { @class = "form-control" }))
            </div>
            
            <div class="col-xs-12 no-gutter" style="display:none; margin-top: 30px; margin-bottom: 30px;">
                @(Html.LabelFor(m => m.Radius, new { @style = "font-size:16px" }))<br />

                @(Html.DropDownListFor(m => m.Radius, new SelectListItem[]{
                new SelectListItem() {Text = "5 miles", Value="5"},
                new SelectListItem() {Text = "10 miles", Value="10"},
                new SelectListItem() {Text = "25 miles", Value="25"},
                new SelectListItem() {Text = "50 miles", Value="50"},
                new SelectListItem() {Text = "90 miles", Value="90"},
              }, new { @class = "form-control" }))

            </div>
        }

        <button id="rangeFilter" type="button" class="btn btn-default submitButton" style="margin-bottom: 30px;">FIND DEALERS</button>
        <div class="col-xs-12" id="loadingWrapper">
        </div>
    </div>


    <!-- DIV FOR GOOGLE MAP -->
    <div id="pageLoad" class="text-center" style="font-size: 20px;">Loading...</div>
    <div class="col-xs-12 col-sm-9">
        <div id="map-canvas" class="col-xs-12 col-sm-11 no-gutter" style="height: 450px;">
        </div>
    </div>



</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-xs-12 col-sm-3 topRow">

        <div class="col-xs-12 no-gutter text-center" style="margin-bottom: 30px;">
            <div style="font-size: 14px; font-weight: bold;">SAVE YOUR LISTINGS</div>
            <br />
            <div class="col-xs-12 col-sm-6 text-center-xs no-gutter text-right " style="padding-right: 5px;">
                <button id="emailBtn" type="submit" class="btn btn-default wtbButton fancybox">EMAIL</button>
                <!-- fancybox div -->
                <div id="emailBox" style="display: none;">
                    <div class="col-xs-12 text-center" style="margin-bottom: 20px;">
                        <span style="font-size: 18px;">Please enter your Email Address.</span>
                    </div>

                    <div class="form-horizontal" style="margin-top: 20px;">

                        <div class="col-xs-12">
                            <input id="email" type="email" class="form-control" placeholder="Email Address" /><br />
                        </div>

                        <div class="col-xs-12 text-center">
                            <button id="emailSend" type="submit" class="btn btn-default submitButton" style="margin-top: 10px;">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 no-gutter text-left hidden-xs" style="padding-left: 5px;">
                <button id="printBtn" type="submit" class="btn btn-default wtbButton">PRINT</button>
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-9">
        <div id="customerWrapper">
            <!-- Wrapper for partial view to update customers -->
        </div>
    </div>

</div>
