@{
    ViewBag.Title = "Index";
}


<div class="row">
      <img class="img-responsive" src="@Url.Content("~/Content/images/brand/penguin/feature.jpg")" />
</div>

<div class="row text-center" style="margin-top:32px;margin-bottom:32px;">
    <span style="display:block;font-size:18px;font-weight:bold;">ORIGINAL PENGUIN</span>
    <span style="display:block;font-size:15px; max-width:600px; margin:auto;">Original Penguin encourages everyone to Be An Original.  1950s Americana through a modern lens, the collection pays homage to the past while using modern techniques, colors, shapes and patterns to create eyewear that is truly original.</span>
</div>

<div class="col-xs-12 text-center" style="margin-top:19px;">

    <a href="/Collection/ViewCollection?collection=Original%20Penguin&Sub=Rx&Page=1">
         <img class="img-responsive desaturate" src="@Url.Content("~/Content/images/brand/penguin/rx.jpg")" style="margin:auto; cursor:pointer;" />
         <span class="div-text-center collection-link-text">
            <span style="display: block;text-align: center; max-width:875px; margin:auto;">RX COLLECTION</span>
         </span>
     </a>
</div>

<div class="col-xs-12 text-center" style="margin-top:19px; margin-bottom:110px;">
     <img class="img-responsive desaturate" src="@Url.Content("~/Content/images/brand/penguin/sun.jpg")" style="margin:auto; cursor:pointer;" />
     <span class="div-text-center collection-link-text">
        <span style="display: block;text-align: center; max-width:875px; margin:auto;">SUN COLLECTION</span>
     </span>
</div>