@{
    ViewBag.Title = "Index";
}


<div class="row">
      <img class="img-responsive" src="@Url.Content("~/Content/images/brand/penguin/feature.jpg")" />
</div>

<div class="row text-center" style="margin-top:32px;margin-bottom:32px;">
    <span style="display:block;font-size:18px;font-weight:bold;">ORIGINAL PENGUIN</span>
    <span style="display:block;font-size:15px; max-width:600px; margin:auto;">Original Penguin encourages everyone to Be An Original.  1950s Americana through a modern lens, the collection pays homage to the past while using modern techniques, colors, shapes and patterns to create eyewear that is truly original.</span>
</div>

<div class="col-xs-12 text-center" style="margin-top:19px;">
    <span style="display:inline-block;font-size:14px;color:#828282;margin-top:30px;font-weight:bold;">COLLECTIONS</span><br />
    
    <a href="/Collection/ViewCollection?collection=Original%20Penguin&Sub=Rx&Page=1#" style="color:black;">
        <span style="display:inline-block;font-size:20px;margin-top:5px;font-weight:bold;">RX
            <span class="glyphicon glyphicon-chevron-right"style="color:#828282;font-size:11px;" aria-hidden="true"></span> &nbsp;
        </span><br />
    </a>
    
    <span style="display:inline-block;font-size:20px;font-weight:bold;margin-top:5px;">SUN
        <span class="glyphicon glyphicon-chevron-right"style="color:#828282;font-size:11px;" aria-hidden="true"></span> &nbsp;
    </span><br />
    
    <span style="display:inline-block;font-size:14px;margin-top:30px;font-weight:bold;color:#828282">SEE ALSO</span><br />
    
    <span style="display:inline-block;font-weight:bold;margin-top:5px;margin-bottom:100px;font-size:14px;">ORIGINAL PENGUIN YOUTH
        <span class="glyphicon glyphicon-chevron-right"style="color:#828282;font-size:11px;" aria-hidden="true"></span> &nbsp;
    </span>

    
</div>
