<div class="row" style="margin-top: 25px; margin-bottom: 25px;">
    <div class="col-xs-12 no-gutter">
        <div class="col-xs-10 no-gutter">
            <div class="col-xs-3">
                <a href="/profile">
                    <img class="img-responsive desaturate" src="@Url.Content("~/Content/images/home/insta.jpg")" />
                    <span class="div-text-center collection-link-sub">
                        <span style="display: block; text-align: center">OUR STORY</span>
                    </span>
                </a>
            </div>

            <div class="col-xs-3">
                <a href="#">
                    <img class="img-responsive desaturate" src="@Url.Content("~/Content/images/home/jason.jpg")" />
                    <span class="div-text-center collection-link-sub">
                        <span style="display: block; text-align: center">TEAM</span>
                    </span>
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/showschedule">
                    <img class="img-responsive desaturate" src="@Url.Content("~/Content/images/home/brand.jpg")" />
                    <span class="div-text-center collection-link-sub">
                        <span style="display: block; text-align: center">SHOW SCHEDULE</span>
                    </span>
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/pressclipping">
                    <img class="img-responsive desaturate" src="@Url.Content("~/Content/images/home/insta.jpg")" />
                    <span class="div-text-center collection-link-sub">
                        <span style="display: block; text-align: center">PRESS</span>
                    </span>
                </a>
            </div>

        </div>

        <div class="col-xs-2">
            <a href="/pressrelease" class="browseText" style="color: #64635e; font-weight: bold; text-decoration: none;">NEWS</a>
            <hr style="border-color: #c5c1b8; margin-top: 10px; margin-bottom: 10px;" />

            <a href="#" class="browseText" style="color: #64635e; font-weight: bold; text-decoration: none;">CAREERS</a>
            <hr style="border-color: #c5c1b8; margin-top: 10px; margin-bottom: 10px;" />

            <a href="/contact" class="browseText" style="color: #64635e; margin-bottom: 25px; font-weight: bold; text-decoration: none;">CONTACT</a>
        </div>
    </div>
</div>
