@{
    ViewBag.Title = "Profile / Our Story";
}

<script type="text/javascript">


    var is_mobile = false;
    $(function () {

        if ($('#mobile-test').is(':visible')) {
            is_mobile = true;
        }

        if (is_mobile) {

            $('#tinyMan').css('padding-left', '');
        }

    });




</script>


<div class="row">
    <div class="col-xs-12 no-gutter" style="margin-bottom: 10px;">
        <img class="img-responsive" src="~/Content/images/Profile/profile_feature.jpg">
        @*<span class="hidden-xs">
                <span id="carouselCaption">BEHIND EVERY GREAT PAIR<br /> OF GLASSES IS A GREAT STORY.<br /> <strong>THIS IS OURS.</strong></span>
            </span>*@
    </div>
</div>
<div class="col-xs-12" style="margin-bottom: 40px;">PROFILE / OUR STORY</div>


<div class="col-xs-12 col-sm-12 profileText">
    <div class="col-xs-12 col-sm-5 text-center profileText no-gutter" style="font-size: 14px; margin-bottom: 50px;">
        <div class="col-xs-12 col-sm-10 text-left profileText no-gutter" style="text-align: justify;">
            <hr style="width: 70%; border-color: black; margin: 0%; margin-bottom: 10px;" />
            <strong>DESIGN IS IN OUR DNA</strong><br />
            <br />
            Kenmark has a deep history. A history of design and designers. A history of nurturing emerging brands.
        And a history of investing in in-house time and effort to bring beauty and inspiration to our customers. 
        Design is in our DNA. Design, not just for product, but for the entire team we assemble to bring an idea 
        to market. The hours of inspiration, creativity and emotion we build into every pair of glasses we create 
        is matched only by the hours of strategy, planning and expert execution we build into developing our brands 
        and identifying the right place and path for them to grow. 
        </div>


    </div>
    <div class="col-xs-12 col-sm-7 no-gutter" style="margin-bottom: 20px;">
        <img class="img-responsive" src="~/Content/images/Profile/profile_sidebar_fpo_1.jpg" />
    </div>
</div>

<div class="col-xs-12 profileText" style="margin-bottom: 30px; font-size: 14px; text-align: justify;">
    <hr style="width: 30%; border-color: black; margin: 0%; margin-bottom: 10px;" />
    <strong>FROM THE SOURCE</strong><br />
    Every relationship and partnership we forge is carefully measured to ensure we are the right fit for each other. 
    We partner with brands who share our core values - a love of design is first and foremost. Our licenses are deeply 
    involved in the creation of each of their frames and we wouldn’t have it any other way. We immerse ourselves in our 
    brands to create eyewear that is undeniably their own. It is because of this unique relationship that we are sought 
    after time and again as brand partners.

</div>

<div class="row" style="margin-bottom: 50px;">
    <div class="col-xs-12 no-gutter">
        <img class="img-responsive" src="~/Content/images/Profile/profile_horizontal.jpg" />
        @*<span class="hidden-xs">
            <span id="profileImage"style="text-align:left;">FROM RUNWAY TO <strong>REALITY</strong></span>
        </span>*@
    </div>
</div>


<div class="col-xs-12 col-sm-12 profileText no-gutter" style="font-size: 14px;">
    <div class="col-xs-12 col-sm-5 text-center profileText no-gutter">
        <div class="col-xs-12 text-left profileText">
            <hr style="width: 70%; border-color: black; margin: 0%; margin-bottom: 10px;" />
            <div><strong>A HUMAN TOUCH</strong> </div>
            <br />
            <div style="margin-bottom: 30px;">
                <div class="col-xs-12 col-sm-11 no-gutter" style="margin-bottom:20px;">
                    <span style="display: inline-block; margin-bottom: 15px; text-align: justify;">Perfect service is a lofty goal and something our customer service teams strive to attain every day. 
              Kenmark has separate teams dedicated to the United States and international customers. When you call
              Kenmark, you speak to a person. A person who knows the industry; a person who knows the products; and 
              a person who is there to listen, solve problems and elevate the customer experience. </span>

                    <span style="display: inline-block; text-align: justify;">Our Louisville, Kentucky flagship location ensures an approachable hospitality unmatched by our competitors. 
              This office houses our design, marketing, creative,  advertising, PR, financial, international, warehouse,
              shipping, sales and customer service teams. We have a team of expert sales consultants that partner with
              you to grow your business together.</span>


                </div>
            </div>
        </div>
    </div>




    <div class="col-xs-12 col-sm-7 no-gutter" style="margin-bottom: 30px;">
        <img class="img-responsive" src="~/Content/images/Profile/profile_sidebar_fpo_2.jpg" style="margin-bottom: 20px;" />

    </div>



</div>


