@{
    ViewBag.Title = "Profile / Our Story";
}

<script type="text/javascript">

    
 var is_mobile = false;
    $(function () {

        if ($('#mobile-test').is(':visible')) {
            is_mobile = true;
        }

        if (is_mobile) {

            $('#tinyMan').css('padding-left', '');
        }
       
    });

    $(function () {
        $(".fancybox").fancybox({
            fitToView: false,
            beforeShow: function () {
                this.width = 600;
                this.height = 400;
            }
        });
    });


   
</script>


<div class="row">
    <div class="col-xs-12 no-gutter" style="margin-bottom:10px;">
        <img class="img-responsive" src="~/Content/images/Profile/profile_feature.jpg">
            <span class="hidden-xs">
                <span id="carouselCaption">BEHIND EVERY GREAT PAIR<br /> OF GLASSES IS A GREAT STORY.<br /> <strong>THIS IS OURS.</strong></span>
            </span>
        </div>
</div>
<div class="col-xs-12"style="margin-bottom:40px;">PROFILE / OUR STORY</div>
            
                
<div class="col-xs-12 col-sm-12 profileText">
    <div class="col-xs-12 col-sm-5 text-center profileText" style="font-size:14px; margin-bottom:50px;">
        <div class="col-xs-12 col-sm-10 text-left profileText">
        <hr style="width:70%; border-color:black; margin:0%;margin-bottom:10px;"/>
        <strong>THE ORIGIN OF CRAFT</strong><br /><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt, mi sit amet tincidunt tristique, 
        sem velit lobortis eros, id viverra dolor lectus vulputate massa. Etiam nec malesuada mauris. Praesent venenatis 
        eros et mattis lobortis. Morbi suscipit sed nunc quis mollis. Nunc venenatis dolor sed quam posuere, a venenatis 
        nisi maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  </div>      


</div>
    <div class="col-xs-12 col-sm-7 no-gutter" style="margin-bottom:20px;">
        <img class="img-responsive" src="~/Content/images/Profile/profile_sidebar_fpo_1.jpg" />
    </div>
</div>

<div class="row" style="margin-bottom:50px;">
    <div class="col-xs-12 no-gutter">
        <img class="img-responsive" src="~/Content/images/Profile/profile_horizontal.jpg" />
        <span class="hidden-xs">
            <span id="profileImage"style="text-align:left;">FROM RUNWAY TO <strong>REALITY</strong></span>
        </span>
   </div>
</div>


<div class="col-xs-12 col-sm-12 profileText" style="font-size:14px;">
    <div class="col-xs-12 col-sm-4 text-center profileText no-gutter">
        <div class="col-xs-12 text-left profileText">
            <hr style="width:70%; border-color:black; margin:0%;margin-bottom:10px;"/>
            <div><strong>A HUMAN TOUCH</strong> </div><br />
            <div style="margin-bottom:20px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt, mi sit amet tincidunt tristique, 
            sem velit lobortis eros, id viverra dolor lectus vulputate massa. Etiam nec malesuada mauris. Praesent venenatis 
            eros et mattis lobortis. Morbi suscipit sed nunc quis mollis. Nunc venenatis dolor sed quam posuere, a venenatis 
            nisi maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus eu ligula ac tincidunt. 
                
                <div class="hidden-xs" style="margin-top:30px;">
                    <hr style="width:70%; border-color:black; margin:0%;margin-bottom:10px;"/>
                    <div><strong>LOREM IPSUM DOLOR</strong></div><br />
                        
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt, mi sit amet tincidunt tristique,
                        sem velit lobortis eros, id viverra dolor lectus vulputate massa. Etiam nec malesuada mauris. Praesent venenatis 
                        eros et mattis lobortis. Morbi suscipit sed nunc quis mollis. Nunc venenatis dolor sed quam posuere, a venenatis 
                        nisi maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus eu ligula ac tincidunt. 
                        Vivamus sit amet sodales magna, et sodales ante. Sed a enim finibus, varius velit dapibus, mattis justo
                        
                    </div>
                </div>
            </div>
        </div>
     

    <div class="col-xs-2 col-sm-2 no-gutter" id="tinyMan">
        <img class="img-responsive  center-block" src="~/Content/images/Profile/profile_sidebar_fpo_3.jpg"style="min-width:45px;" />
    </div>
    
        <div class="col-xs-10 col-sm-6 no-gutter" style="margin-bottom:20px;">
            <img class="img-responsive" src="~/Content/images/Profile/profile_sidebar_fpo_2.jpg" style="margin-bottom:20px;margin-left:10px;" />
                <div class="col-xs-12 col-sm-9 no-gutter" style="font-size:16px;margin-left:10px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt, mi sit amet tincidunt tristique,
                    sem velit lobortis eros, id viverra dolor lectus vulputate massa. Etiam nec malesuada mauris. Praesent venenatis 
                    eros et mattis lobortis. Morbi suscipit sed nunc quis mollis. Nunc venenatis dolor sed quam posuere, a venenatis 
                    nisi maximus. 
                </div>
          </div>
        

    <div class="col-xs-12 col-sm-5 no-gutter visible-xs">
        <div class="col-xs-12 col-sm-12 profileText" style="font-size:14px;">
            <div class="col-xs-12 text-left profileText visible">
            
            <hr style="width:70%; border-color:black; margin:0%;margin-bottom:10px;"/>
             <div style="margin-bottom:10px;"><strong>LOREM IPSUM DOLOR</strong></div>
            
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt, mi sit amet tincidunt tristique,
                sem velit lobortis eros, id viverra dolor lectus vulputate massa. Etiam nec malesuada mauris. Praesent venenatis 
                eros et mattis lobortis. Morbi suscipit sed nunc quis mollis. Nunc venenatis dolor sed quam posuere, a venenatis 
                nisi maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus eu ligula ac tincidunt. 
                Vivamus sit amet sodales magna, et sodales ante. Sed a enim finibus, varius velit dapibus, mattis justo.
            </div>
       </div>
   </div>
</div>



<a class="fancybox" href="~/Content/images/home/insta.jpg" title="Lightbox Example">
    <img  src="~/Content/images/home/insta.jpg" alt="" >
</a>