@model Kenmark_Consumer.Models.CMS_Blog

@{
    ViewBag.Title = "Delete Blog";
}



<div class="col-xs-12" style="margin-top: 50px;"></div>


@using (Html.BeginForm("DeleteBlog", "CMS_Blog_Delete", FormMethod.Post))
{ 
    <div class="col-xs-12">
        <span style="font-size:22px;">Which blog would you like to delete?"</span>
    </div>
    
    
    <div class="col-xs-12 col-sm-4">
    <select id="id" name="id" class="form-control">
    
    @for(int i = 0; i < Model.Items.Count; i++)
    { 
      
       <option value ="@Model.Items[i].data.id">@Model.Items[i].data.id - @Model.Items[i].data.title</option> 
           
      
    }
   </select>
        </div>

    <div class="col-xs-12" style="margin-top: 20px;">
        <button class="btn btn-default" id="submit" type="submit">Submit</button>
    </div>
    
}

