@model Kenmark_Consumer.Models.CMS_Blog

<script type="text/javascript">
    $(function () {

        $('#blogToDelete').click(function (e) {
            var id = this.id;
        });

        });
</script>

<div class="col-xs-12" style="margin-top: 50px;"></div>


@using (Html.BeginForm("DeleteBlog", "CMS_Blog_Delete", FormMethod.Post))
{ 
    <div class="col-xs-12">
        "Which blog would you like to delete?
    </div>
    
    
    
    foreach (var m in Model.Items)
    {
        for (int i = 0; i < Model.Items.Count; i++ )
        {
            <div>Model.Items[i].data.id;</div>
        }
         
    @*<div id="blogToDelete">@m.data.id - @m.data.title</div>*@
    }

    <div class="col-xs-12" style="margin-top: 20px;">
        <button class="btn btn-default" id="submit" type="submit">Submit</button>
    </div>
    
}
