@model Kenmark_Consumer.Models.CMS_Blog

@{
    ViewBag.Title = "Edit Blog";
}

<script type="text/javascript">

    $(function () {
        $('.date-picker').datepicker();
        $('.pageContent').hide();

        $('.pageTitle').click(function () {

            var page = this.id;

            $('.pageContent').hide();

            $('#' + page + "Span").show();

            $('.' + page + 'Upload').show();
        });

        $('#whichBlog').click(function (e) {
            var id = $('#blog-selection').val();           
            $.get("/CMS_Blog/GetBlog/", {blog_id : id}, function (data) {
                $('#editWrapper').html(data.html).fadeIn(250);
            });
        });
    });

</script>

<div class="col-xs-12" style="margin-top: 50px;"></div>

@using (Html.BeginForm("GetBlog", "CMS_Blog", FormMethod.Get, new { @id = "editFilter" }))
{ 
    <div class="col-xs-12">
        <span style="font-size: 22px; display: inline-block; margin-bottom: 20px;">Which blog would you like to edit?</span>
    </div>
    
    <div class="col-xs-12 col-sm-4">
        <select id="blog-selection" name="id" class="form-control">

            @for (int i = 0; i < Model.Items.Count; i++)
            { 
                <option value ="@Model.Items[i].data.id">@Model.Items[i].data.id - @Model.Items[i].data.title</option> 
            }
        </select>
    </div>
}

<div class="col-xs-12" style="margin-top: 20px; margin-bottom: 20px;">
    <button id="whichBlog" type="button" class="btn btn-default submitButton" style="margin-bottom: 30px;">SUBMIT</button>
</div>

<div class="col-xs-12">
    <div id="editWrapper">
    </div>
</div>

<div class="col-xs-12" style="margin-bottom:20px;">
    <span style="font-size:14px;">
      <a href="~/cms_blog">< BACK</a>  
    </span>
</div>