@model Kenmark_Consumer.Models.TestCMS

<div class="col-xs-12 text-center">
    <span style="font-size: 25px; display: inline-block; margin-bottom: 30px;" class="text-center">Kenmark CMS - Collection</span>
</div>
