@model Kenmark_Consumer.Models.TestCMS



@{
    ViewBag.Title = "Test CMS";
}


<script type="text/javascript">

    $(function () {
        $('.date-picker').datepicker();
        $('.pageContent').hide();


        $('.pageTitle').click(function () {
           
            var page = this.id;
           
            $('.pageContent').hide();

            $('#' + page + "Span").show();
        });
    });

    function OnBegin() {
        var data = CKEDITOR.instances.editor1.editable().getText();
        $('#editor1').val(data);
        alert($('#editor1').val());


    }

</script>


<div style="margin-top: 50px;"></div>

<div class="col-xs-12 text-center">
    <span style="font-size: 25px; display: inline-block; margin-bottom: 30px;" class="text-center">Kenmark CMS - The Mirror</span>
</div>

<div class="row">
    <div class="col-xs-2 text-center">
        <span style="display: inline-block; margin-bottom: 20px; font-size: 14px;"><u>Edit Page</u></span>
        <div class="text-left">
            <ul>
                <li style="margin-bottom:10px;" class="pageTitle" id="home"><span style="cursor:pointer;">Home</span></li>
                <li style="margin-bottom:10px;" class="pageTitle" id="ourStory"><span style="cursor:pointer">Our Story</span></li>
                <li style="margin-bottom:10px;" class="pageTitle" id="shop"><span style="cursor:pointer">Shop</span></li>
                <li style="margin-bottom:10px;" class="pageTitle" id="collection"><span style="cursor:pointer">Collection</span></li>
                <li style="margin-bottom:10px;" class="pageTitle" id="insidePage"><span style="cursor:pointer">Inside Page</span></li>
                <li style="margin-bottom:10px;" class="pageTitle" id="theMirror"><span style="cursor:pointer">The Mirror</span></li>
            </ul>
        </div>
    </div>


    <div class="col-xs-10">
       @*<div class="col-xs-12 no-gutter pageContent" id="homeSpan">@{Html.RenderPartial("_GridHome", Model);}  </div>*@
       <div class="col-xs-12 no-gutter pageContent" id="theMirrorSpan">@{Html.RenderPartial("_GridTheMirror", Model);}  </div>

        
    </div>
</div>






        @*@using (Ajax.BeginForm("Upload", "TestCMS", new AjaxOptions{HttpMethod = "Post"}, new { @role="form" @enctype="multipart/form-data"}))
{
    @Html.LabelFor(m => m.Photo)<br />
    @Html.TextBoxFor(m => m.Photo, new { @type="file", @id="photo"})

    <div class="col-xs-12 no-gutter" style="margin-top: 20px;">
            <button id="upload" type="submit">Upload</button>
    </div>
} *@
