@{
    ViewBag.Title = "Press Release";
}

<div class="row">
    <img class="img-responsive" src="~/Content/images/ShowSchedule/header.jpg" /> 
    <div class="row" style="padding-left:50px;margin-top:10px;">
        <div class="col-md-3" style="font-size:12px;margin-bottom:30px;">PROFILE / PRESS RELEASES</div>
    </div>
</div>

<div class="row">
    
    <div class="col-xs-12 col-sm-3" style="padding-left:50px;" >

        
            <div  style="margin-bottom:20px;letter-spacing:1px;font-weight:bold;font-size:18px;">PRESS<br /> RELEASES</div> <br />

            <span style="font-weight:bold;">PRESS CONTACT</span><br />
            <span>Dawn Ruiz, Marketing</span><br />
            <span>502-267-4486 ext. 1149</span><br />
            <span>dawnruiz@kenmarkoptical.com</span>

        <hr class="visible-xs no-gutter" style="margin-top:20px; border-color:#808080;" />
        
    </div>


    <div class="col-xs-12 col-sm-9">

        <span style="font-weight:bold;font-size:14px;">
            Zac Posen and Kenmark Sign Exclusive Eyewear Partnership
        </span><br />
        <span>OCT 4, 2013</span><br />

        <div style="margin-top:20px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit nulla non porttitor consequat. Fusce aliquet dolor efficitur odio scelerisque tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent ut scelerisque diam. Pellentesque in sapien et turpis mattis feugiat. Curabitur ut felis bibendum, viverra est at, rutrum erat. Vestibulum et tellus convallis, facilisis risus eget, mattis metus.<br /><br />

            In augue sem, tempor at posuere ac, placerat non ex. Fusce sed viverra purus. Vestibulum condimentum, sapien eget volutpat molestie, mauris erat posuere augue, non rhoncus nisl enim vestibulum dui. Aliquam metus tortor, consectetur et justo et, rutrum mollis velit. In dignissim lobortis ante, id tempor tortor auctor vitae. Ut in pulvinar dolor. Cras eu lacus vitae massa mattis fermentum. Maecenas vitae varius justo. Curabitur in purus malesuada nisl elementum dictum. Ut vestibulum consequat lorem varius suscipit.<br /><br />

            Praesent nunc nulla, pretium non tempus at, porttitor sed libero. Nunc sodales dictum lorem at pretium. Suspendisse ultricies venenatis nunc, sit amet rhoncus nisi gravida sed. Nullam malesuada dui nec libero bibendum, dignissim ullamcorper ipsum vehicula. Cras tempor porttitor vulputate. Nam sit amet elit nibh. Proin non metus luctus ipsum faucibus ornare ac et odio. Ut id magna nec urna mattis rutrum. Vivamus faucibus nec risus vel sollicitudin.<br /><br />

            Curabitur tincidunt magna nec convallis vehicula. Pellentesque rhoncus lacinia sodales. Quisque est sapien, bibendum eget rhoncus eget, pharetra pulvinar nulla. Nullam vitae venenatis lorem. Vestibulum quis sem id mauris lacinia volutpat. Maecenas vel pharetra diam. Cras dolor ligula, tempor eget laoreet volutpat, ullamcorper in dui. Aliquam rhoncus accumsan metus, et dapibus dolor finibus sed. Morbi eu ligula eu metus interdum vestibulum. Nam ac lacus non felis porta placerat nec a sapien.<br /><br />
        </div>

    </div>
</div>